*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

@mixin wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

@mixin breakpoint($br) {
  @media (max-width: $br) {
    @content;
  }
}

$tablet: 1024px;
$mobile: 650px;
$smobile: 380px;

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro-Medium.woff') format('woff'),
    url('../fonts/GothamPro-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'GothamPro-Light';
  src: url('../fonts/GothamPro-Light.woff') format('woff'),
    url('../fonts/GothamPro-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'GothamPro-Bold';
  src: url('../fonts/GothamPro-Bold.woff') format('woff'),
    url('../fonts/GothamPro-Bold.ttf') format('ttf');
}

header {
  background-image: url(../images/backgraund.webp);
  background-color: #000000;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 575px;
  @media (min-width: 1025px) {
    min-height: auto;
  }
}

.conteiner {
  @include wrapper;
}

.header-top {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 0;
  a {
    align-self: center;
    background: transparent;
    border: none;
    cursor: pointer;
    img {
      @include breakpoint($mobile) {
        width: 80px;
      }
    }
  }
  .header-menu,
  .header-contacts {
    display: flex;
    @include breakpoint($tablet) {
      flex-direction: column;
    }
  }
  .header-contacts {
    justify-content: center;
  }

  .header-menu > a {
    text-decoration: none;
    font-family: 'GothamPro-Light';
    font-size: 18px;
    line-height: 35px;
    color: #ffffff;
    width: 140px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 20px;
    align-self: center;
    text-align: center;
    @media (min-width: 651px) and (max-width: 1024px) {
      font-size: 40px;
      width: auto;
      height: auto;
      line-height: unset;
      margin-top: 40px;
    }
  }
  .header-menu > a:hover {
    border: 2px solid #f2cf1d;
  }
  .header-contacts .contacts-icon {
    align-self: center;
    width: auto;
    height: auto;
    text-decoration: none;
    &:nth-child(2) {
      margin: 0 20px;
      @include breakpoint($tablet) {
        margin: 10px 0;
      }
      @include breakpoint($mobile) {
        margin: 5px 0;
      }
    }
  }
  .fab {
    font-size: 1.7em;
    color: #ffffff;
    @include breakpoint($mobile) {
      font-size: 1.3em;
    }
    &:hover {
      color: #f2cf1d;
    }
  }

  .burger {
    display: none;
    cursor: pointer;
    width: 2.5rem;
    height: 2rem;
    position: relative;
    align-self: center;
    background-color: transparent;
    @include breakpoint($tablet) {
      display: block;
    }
    &:focus {
      outline: none;
    }
    span {
      display: block;
      width: 100%;
      height: 0.2rem;
      border-top: #ffffff 0.2rem solid;
      transition: opacity 0.2s linear;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      border-top: #ffffff 0.2rem solid;
      left: 0;
      transition: transform 0.2s linear;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }
  .active {
    span {
      opacity: 0;
    }
    &::before,
    &::after {
      top: 50%;
      bottom: auto;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}

.header-menu {
  @include breakpoint($tablet) {
    position: absolute;
    top: 135px;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -2;
    justify-content: center;
    transition: z-index, leaner, 0.5s;
    @include breakpoint($mobile) {
      top: 100px;
    }
  }
}

.open {
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
}

.header-content {
  .conteiner {
    @include wrapper();
    padding: 155px 0 145px;
    text-align: center;
    @include breakpoint($tablet) {
      padding: 125px 0;
    }
    @include breakpoint($mobile) {
      padding: 70px 0;
    }
    & > h1 {
      margin: 0 auto;
      font-family: 'GothamPro-Bold';
      font-size: 80px;
      line-height: 90px;
      letter-spacing: -0.02em;
      color: #ffffff;
      @include breakpoint($tablet) {
        width: 650px;
        font-size: 70px;
      }
      @include breakpoint($mobile) {
        width: auto;
        padding: 0 20px;
        font-size: 35px;
        line-height: 35px;
      }
    }
    & > p {
      font-family: 'GothamPro-Light';
      font-size: 30px;
      line-height: 40px;
      color: #ffffff;
      width: 450px;
      margin: 35px auto;
      @include breakpoint($mobile) {
        padding: 0 20px;
        font-size: 20px;
        line-height: 25px;
        width: auto;
      }
    }
    & > button {
      cursor: pointer;
      align-self: center;
      margin-top: 55px;
      background: transparent;
      width: 400px;
      height: 80px;
      border: 2px solid #f2cf1d;
      border-radius: 40px;
      font-family: 'GothamPro';
      font-size: 16px;
      line-height: 40px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      color: #ffffff;
      @include breakpoint($mobile) {
        margin-top: auto;
        width: 250px;
        height: 50px;
      }
      &:active {
        transform: translateY(1px);
        border: 3px solid #f2cf1d;
        filter: saturate(150%);
      }
      &:focus {
        outline: none;
      }
    }
  }
}

.about-conteiner {
  @include wrapper();
  text-align: center;
  padding: 90px 0;
  @include breakpoint($tablet) {
    padding: 90px 20px 70px;
  }
}

.adout-title {
  font-family: 'GothamPro';
  font-size: 35px;
  line-height: 40px;
  font-weight: 100;
  color: #261201;
}

.about-text {
  max-width: 900px;
  margin: 30px 0 90px;
  font-family: 'GothamPro';
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  @include breakpoint($tablet) {
    margin-bottom: 45px;
  }
}

.tools_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  & .tools {
    text-align: center;
    flex-basis: 250px;
    @include breakpoint($tablet) {
      margin-bottom: 20px;
    }
    & > p {
      margin-top: 30px;
      font-family: 'GothamPro';
      font-size: 20px;
      line-height: 25px;
      font-weight: 600;
      color: #000000;
    }
  }
}

.services {
  background-color: #ffffff;
  background-image: url(../images/Uslygi_bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .services-content {
    @include wrapper();
    padding: 125px 0;
    text-align: center;
    @include breakpoint($tablet) {
      padding: 90px 0;
    }
    @include breakpoint($mobile) {
      padding: 50px 0;
    }
    & > h2 {
      font-family: 'GothamPro-Bold';
      font-size: 35px;
      color: #ffffff;
      @include breakpoint($mobile) {
        font-size: 25px;
      }
    }
    .accordion {
      list-style: none;
      margin-top: 75px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      @include breakpoint($tablet) {
        margin-top: 50px;
      }
      & > li {
        background-color: rgba(0, 0, 0, 0.75);
        padding: 100px 30px;
        width: 31%;
        transition: ease-out 0.4s;
        &:hover {
          transform: scale(1.15);
        }
        .card > h3 {
          text-align: center;
          font-family: 'GothamPro';
          font-size: 25px;
          color: #ffffff;
        }
        .list {
          text-decoration: none;
          margin-top: 60px;
          & > li {
            display: flex;
            justify-content: space-between;
            font-family: 'GothamPro-Light';
            font-size: 20px;
            line-height: 45px;
            font-weight: 400;
            color: #ffffff;
          }
        }
      }
    }
    .card + .card {
      margin-left: 20px;
    }

    @media (min-width: 651px) and (max-width: 1024px) {
      .card-box {
        max-width: 550px;
        margin: 0 auto;
      }
      ul.accordion {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 0;
        .card {
          width: 300px;
          padding: 0 10px;
          @include breakpoint($mobile) {
            width: auto;
            padding: auto;
          }
        }
        & > li {
          width: 100px;
          overflow: hidden;
          padding: 1px 1px 0;
          cursor: pointer;
          display: block;
          box-shadow: 1px 3px 15px #7e807e;
          &:hover {
            width: 300px;
            transition: all 1s;
          }
        }
        & > li:nth-child(2) {
          width: 300px;
          margin: 0 25px;
        }
        &:hover > li:nth-child(2) {
          width: 100px;
        }
        & > li:nth-child(2):hover {
          width: 300px;
        }
      }
    }

    @include breakpoint($mobile) {
      .accordion {
        flex-wrap: wrap;
        margin-top: 20px;
        & > li {
          padding: 10px;
          margin: 10px;
          width: 290px;
          overflow-y: hidden;
          height: 63px;
          &:hover {
            transform: none;
            height: 355px;
          }
          .card > h3 {
            font-size: 20px;
            margin: 10px 0 20px;
            &::after {
              content: '\2935';
              font-family: -webkit-pictograph;
              font-size: 25px;
              vertical-align: middle;
              margin-left: 15px;
            }
          }
          .list {
            margin-top: unset;
            & > li {
              font-size: 15px;
              line-height: 35px;
            }
          }
        }
      }
    }
  }
}

.pictures {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  .block-images {
    width: 33.85%;
  }
  .pictures-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .pictures-block {
    display: flex;
    flex-wrap: wrap;
    width: 65.32%;
    margin-right: 10px;
    div:first-child {
      width: 55.55%;
      padding-right: 10px;
    }
    div:nth-child(2) {
      width: 44.45%;
    }
    div:nth-child(3) {
      width: 39.68%;
      padding-right: 10px;
      margin-top: 10px;
    }
    div:nth-child(4) {
      width: 60.32%;
      margin-top: 10px;
    }
  }
}

.reviews {
  padding: 105px 0 90px 0;
  @include breakpoint($tablet) {
    padding: 90px 0 70px;
  }
  @include breakpoint($mobile) {
    padding: 50px 0;
  }
  & > h2 {
    font-family: 'GothamPro-Bold';
    font-size: 35px;
    color: #000000;
    text-align: center;
    margin-bottom: 100px;
    @include breakpoint($tablet) {
      margin-bottom: 50px;
    }
    @include breakpoint($mobile) {
      margin-bottom: 35px;
      font-size: 25px;
    }
  }

  .slider-card {
    padding: 35px;
    height: auto;
    background-color: #e8e8e8;
    font-family: 'GothamPro';
    font-size: 18px;
    color: #000000;
    figure {
      display: flex;
      margin-bottom: 25px;
      @include breakpoint($mobile) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
      }
      & img {
        height: fit-content;
      }
    }
    figcaption {
      margin-left: 50px;
      font-family: 'GothamPro';
      font-size: 23px;
      color: #000000;
      @include breakpoint($tablet) {
        margin-left: 20px;
        font-size: 20px;
      }
      @include breakpoint($mobile) {
        margin-left: unset;
        text-align: center;
      }
      & > div {
        margin-bottom: 45px;
        margin-top: 20px;
        display: flex;
        justify-content: flex-start;
        @include breakpoint($mobile) {
          margin-bottom: 20px;
          justify-content: center;
        }
      }
      .fa-star {
        color: goldenrod;
        margin-right: 5px;
        @include breakpoint($tablet) {
          font-size: small;
        }
      }
    }
  }

  .slider-block {
    display: flex;
    .reviews-slider {
      display: inline-flex;
      width: 85%;
    }
    .swiper-pagination {
      position: initial;
      margin-top: 10px;
    }
    .button-prev,
    .button-next {
      align-self: center;
      cursor: pointer;
      background-color: transparent;
      font-size: 40px;
      margin: 0 15px;
      color: royalblue;
      // &:hover {
      //   color: royalblue;
      // }
      &:focus {
        outline: none;
      }
      @include breakpoint($tablet) {
        display: none;
      }
    }
    .swiper-button-disabled {
      color: transparent;
    }
  }

  .swiper-pagination {
    position: inherit;
    margin-top: 10px;
    .swiper-pagination-bullet {
      margin: 0 3px;
      outline: none;
    }
  }
}

.online {
  background-image: url(../images/Online-chat.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
  .online-form {
    @include wrapper();
    padding: 145px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @include breakpoint($tablet) {
      padding: 90px 0;
    }
    @include breakpoint($mobile) {
      padding: 50px 0;
    }
    .online-record {
      width: 500px;
      @include breakpoint($tablet) {
        margin-bottom: 50px;
      }
      @include breakpoint($mobile) {
        width: auto;
      }
      & > h2 {
        text-align: center;
        font-family: 'GothamPro-Bold';
        font-size: 35px;
        margin-bottom: 115px;
        color: #e7e9fd;
        @include breakpoint($tablet) {
          margin-bottom: 70px;
        }
        @include breakpoint($mobile) {
          margin-bottom: 25px;
          font-size: 25px;
        }
      }
      .form {
        display: flex;
        flex-direction: column;
        & > input {
          font-family: 'GothamPro-Light';
          font-size: 25px;
          color: #e7e9fd;
          background: transparent;
          border-bottom: 2px solid #ffff;
          margin-bottom: 70px;
          padding: 25px 0;
          &:focus {
            outline: none;
          }
          @include breakpoint($tablet) {
            margin-bottom: 50px;
          }
          @include breakpoint($mobile) {
            font-size: 20px;
          }
        }
        .btn-submit {
          background: transparent;
          border: 2px solid #f2cf1d;
          border-radius: 40px;
          padding: 35px 145px;
          font-family: 'GothamPro';
          font-size: 16px;
          text-transform: uppercase;
          letter-spacing: 0.02em;
          color: #ffffff;
          align-self: center;
          cursor: pointer;
          &:active {
            transform: translateY(1px);
            border: 3px solid #f2cf1d;
            filter: saturate(150%);
          }
          &:focus {
            outline: none;
          }
          @include breakpoint($mobile) {
            padding: 20px 70px;
          }
        }
      }
    }
  }
  .Our-contacts {
    padding: 100px;
    width: 500px;
    border: 2px solid #ffffff;
    border-radius: 42px;
    @include breakpoint($mobile) {
      padding: 20px;
      width: auto;
    }
    @include breakpoint($smobile) {
      border: none;
    }
    & > h3 {
      font-family: 'GothamPro-Bold';
      font-size: 35px;
      color: #e7e9fd;
      @include breakpoint($mobile) {
        font-size: 25px;
      }
    }
    .list-title {
      margin: 60px 0 20px;
      font-family: 'GothamPro-Light';
      font-size: 18px;
      color: #e7e9fd;
      @include breakpoint($mobile) {
        margin: 30px 0 10px;
      }
    }
    .list-item {
      list-style: none;
      font-family: 'GothamPro';
      font-size: 25px;
      color: #e7e9fd;
      @include breakpoint($mobile) {
        font-size: 20px;
      }
      & > a {
        text-decoration: none;
        font-family: 'GothamPro';
        font-size: 25px;
        color: #e7e9fd;
        @include breakpoint($mobile) {
          font-size: 20px;
        }
      }
    }
  }
}

footer {
  background-color: #000000;
  padding: 25px 0;
  @include breakpoint($tablet) {
    padding: 25px 20px;
  }
  .footer-conteiner {
    @include wrapper();
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer-logo {
      @include breakpoint($mobile) {
        width: 80px;
      }
    }
  }
  .footer-contacts {
    @include breakpoint($mobile) {
      display: flex;
      flex-direction: column;
    }
  }
  .footer-contacts-icon {
    text-decoration: none;
    &:nth-child(2) {
      margin: 0 20px;
      @include breakpoint($mobile) {
        margin: 13px auto;
      }
    }
    .fab {
      font-size: 3em;
      color: #ffffff;
      &:hover {
        color: #f2cf1d;
      }
      @include breakpoint($mobile) {
        font-size: 1.5em;
      }
      @include breakpoint($smobile) {
        font-size: 1em;
      }
    }
  }
  .footer-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .contacts-button {
    margin: 5px 0;
    text-decoration: none;
    font-family: 'GothamPro-Light';
    font-size: 18px;
    color: #ffffff;
    &:hover {
      color: #f2cf1d;
    }
  }
}

.modal {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.85);
  .modal-block {
    align-self: center;
    margin: 0 auto;
    background-color: #ffff;
    max-height: 457px;
    max-width: 378px;
    width: 90vw;
  }
  .online-entry {
    padding: 20px 30px;
    text-align: center;
    position: relative;
    @include breakpoint($mobile) {
      font-size: 13px;
    }
    & > h2 {
      text-align: center;
      display: inline-block;
    }
    .btn-close {
      position: absolute;
      right: 5%;
      cursor: pointer;
      background: transparent;
      &:active {
        transform: translateY(1px);
        filter: saturate(150%);
      }
      &:focus {
        outline: none;
      }
    }
  }
  .modal-form {
    display: flex;
    flex-direction: column;
    & > input {
      font-family: 'GothamPro-Light';
      font-size: 25px;
      color: #000;
      border-bottom: 2px solid #000;
      margin-bottom: 20px;
      padding: 25px 0;
      @include breakpoint($mobile) {
        font-size: 20px;
        padding: 15px 0;
      }
      &:focus {
        outline: none;
      }
    }
    .btn-submit-modal {
      background: transparent;
      border: 2px solid #f2cf1d;
      border-radius: 40px;
      padding: 20px 40px;
      font-family: 'GothamPro';
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      color: #000;
      align-self: center;
      cursor: pointer;
      @include breakpoint($mobile) {
        font-size: 14px;
        padding: 10px 40px;
      }
      &:active {
        transform: translateY(1px);
        border: 3px solid #f2cf1d;
        filter: saturate(150%);
      }
      &:focus {
        outline: none;
      }
    }
  }
  .online-entry-modal {
    font-family: 'GothamPro-Light';
    background-color: #fff;
    text-align: center;
    padding: 20px 30px;
    @include breakpoint($mobile) {
      font-size: x-small;
    }
  }
}

.scroll {
  overflow: hidden;
}
